/* src/styles/responsive.css */

/* For tablets and smaller desktops */
@media (max-width: 768px) {
  .App {
    padding: 15px;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  header {
    flex-direction: column;
  }

  header nav {
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.3em;
  }
}
